<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body></body>

    <h2>Upload Files</h2> <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_file">File:</label>
        <input type="file" id="id_file" name="file"><br>
        <button type="submit" id="uploadBtn">Upload</button>
    </form>

    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>
</body>
<script>
    alert("Welcome to Q/A With PDF");

    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('uploadBtn').addEventListener('click', function() {
        // Show loading animation
        document.getElementById('loadingOverlay').style.display = 'block';
        
        // Simulate PDF upload (replace setTimeout with actual upload code)
        setTimeout(function() {
            // Redirect to the next page after upload
            window.location.href = '/templates/qapdf.html';
        }, 3000); // Simulating 3 seconds upload time, replace with actual upload time
    });
});


</script>

</html>